.cart {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;

    &__popper {
        display: none;
        width: 325px;
        padding: 20px;
        border: 1px solid $borderLightGrey;
        position: absolute;
        top: 23px;
        right: -10px;
        background-color: #fff;
        color: $fontColor0;
        font-size: 14px;
        z-index: -1;

        &::after {
            content: '';
            display: none;
            width: 80px;
            height: 36px;
            border-top: 1px solid $borderLightGrey;
            border-left: 1px solid $borderLightGrey;
            border-right: 1px solid $borderLightGrey;
            position: absolute;
            top: -36px;
            right: -1px;
            background-color: #fff;
            z-index: -1;
        }
    }

    &.expanded &__popper, &.expanded &__popper::after {
        display: block;
    }

    &__product {
        display: flex;
    }

    &__product-image {
        max-width: 70px;
        margin-right: 15px;
    }

    &__product-price {
        font-weight: 700;
    }

    &__digits {
        margin-top: 10px;
    }

    &__product-size {
        margin-top: 20px;
        font-size: 12px;
    }
}

.size {
    text-transform: uppercase;
    font-size: 14px;

    &__title {
        font-size: 12px;
        font-weight: 700;
        color: $fontColor1;
    }

    &__star {
        color: $starColor;
        font-weight: bold;
    }

    &__sizes {
        display: flex;
        margin-top: 15px;
        margin-left: -7px;
    }

    &__selected {
        margin-left: 6px;
        font-weight: 700;
        color: #000;
    }

    &__btn.selected + label {
        outline: 3px solid #000;
    }

    &__btn + label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        padding: 18px;
        outline: 1px solid $borderLightGrey;
        color: $fontColor1;
        cursor: pointer;
    }

    &__submit {
        margin-top: 22px;
        display: block;
        width: 100%;
        max-width: 145px;
        padding: 8px;
        border: 3px solid #000;
        background-color: #fff;
        color: $fontColor0;
        font-weight: 700;
        transition: all 0.2s linear;
        cursor: pointer;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}