*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  width: 100%;
}

.header {
  width: 90%;
  height: 35px;
  margin: 16px auto;
  padding: 5px;
  position: relative;
  background-color: #F6F6F7;
  color: #888888;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
@media screen and (max-width: 764px) {
  .header {
    width: 100%;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
  font-family: Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 764px) {
  .product {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product__image {
  max-width: 400px;
}
@media screen and (max-width: 764px) {
  .product__image {
    margin: auto;
  }
}
.product__details {
  width: 35%;
  margin-left: 100px;
}
@media screen and (max-width: 764px) {
  .product__details {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    padding-bottom: 30px;
  }
}
.product__title {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
}
.product__price {
  border-top: 1px solid rgba(204, 204, 204, 0.4);
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  margin-top: 22px;
  padding: 10px 0;
  font-weight: 700;
}
.product__desc {
  margin-top: 22px;
  color: #888888;
  font-size: 14px;
  line-height: 1.7;
}
.product__variant {
  margin-top: 30px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.cart__popper {
  display: none;
  width: 325px;
  padding: 20px;
  border: 1px solid #cccccc;
  position: absolute;
  top: 23px;
  right: -10px;
  background-color: #fff;
  color: #222222;
  font-size: 14px;
  z-index: -1;
}
.cart__popper::after {
  content: "";
  display: none;
  width: 80px;
  height: 36px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  position: absolute;
  top: -36px;
  right: -1px;
  background-color: #fff;
  z-index: -1;
}
.cart.expanded .cart__popper, .cart.expanded .cart__popper::after {
  display: block;
}
.cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart__product-image {
  max-width: 70px;
  margin-right: 15px;
}
.cart__product-price {
  font-weight: 700;
}
.cart__digits {
  margin-top: 10px;
}
.cart__product-size {
  margin-top: 20px;
  font-size: 12px;
}

.size {
  text-transform: uppercase;
  font-size: 14px;
}
.size__title {
  font-size: 12px;
  font-weight: 700;
  color: #888888;
}
.size__star {
  color: #c90000;
  font-weight: bold;
}
.size__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: -7px;
}
.size__selected {
  margin-left: 6px;
  font-weight: 700;
  color: #000;
}
.size__btn.selected + label {
  outline: 3px solid #000;
}
.size__btn + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  padding: 18px;
  outline: 1px solid #cccccc;
  color: #888888;
  cursor: pointer;
}
.size__submit {
  margin-top: 22px;
  display: block;
  width: 100%;
  max-width: 145px;
  padding: 8px;
  border: 3px solid #000;
  background-color: #fff;
  color: #222222;
  font-weight: 700;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}
.size__submit:hover {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */